* {
    box-sizing: border-box;
}

#control {
    padding-bottom: 1em;
}

@font-face {
    font-family: "BebasReg";
    src: url("fonts/BebasNeue Regular.ttf");
}

body {
    font-family:"BebasReg";
}

a {
    text-decoration: none;
    color: black;
}

.ikonka {
    font-size: 2em;
    font-family: "Baloo Da", cursive;
    position: relative;
    height:60px;
    line-height:60px;
    display:inline-block;
    margin: 5px;
}


.button {
    display:inline-block;
    border-radius: 5px;
    background-color: #73bec8;
    height: 60px;
    width: 100px;
    border: 3px;
    text-align:center;
    vertical-align:top;
    line-height:60px;
    margin: 5px;
    font-size:1em;
   
}

.left {
    float: left;
}

.right {
    float: right;
}


html, body {height: 100%;}     
      
table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
      
th {
    text-align: center;
}
      
td {
    border:2px solid black;
    text-align: center;
    vertical-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1em;
    padding: 0px;
}
